{% extends 'base.html.twig' %}
{% block title %}
    pro6- GRH / Sous-comptes
{% endblock %}
{% block  breadcrumb %}
    <li class="breadcrumb-item active">Sous-comptes</li>
{% endblock %}

{% block body_inside %}
    {% include 'cloud_compte/pills/paramComptePills.html.twig' %}
    <div class="container">
        <h3>Liste des sous-comptes</h3>
        <hr style="margin-top: auto; color: black">
        <table class="table table-bordered">
            <thead class="bg-gradient-secondary">
            <tr>
                <th style="width: 3%"></th>
                <th style="width: 20%" class="text-center">Nom du sous-compte</th>
                <th style="width: 8%" class="text-center">Sigle</th>
                <th style="width: 25%" class="text-center">Ville</th>
                <th style="width: 40%" class="text-center">Contacts et Adresse</th>
                <th style="width: 5%" class="text-center">Etat</th>
                <th style="width: 10%" class="text-center">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for c in listCloudCompte %}
                <tr>
                    <td>
                        <label>
                            <input type="checkbox" class="form-check-input" value="">
                        </label>
                    </td>
                    <td class="text-center">
                        <p><img src="{{ asset('admin-lte/dist/img/globe.jpg') }}" alt="Logo de la société" width="60%"
                                class="center-block"></p>
                        <label style="text-transform: uppercase;">{{ c.designationCloudCompte }}</label>
                    </td>
                    <td style="text-transform: uppercase;">{{ c.sigleCloudCompte }}</td>
                    <td>{{ c.ville.nomVille }}
                        &#160;({{ c.pays.nomPays }})
                    </td>
                    <td>
                        <p>
								<span style="text-decoration: underline;">
									<strong>Contacts:</strong>
								</span><br>
                            {{ c.telephone1CloudCompte }}/{{ c.telephone2CloudCompte }}<br>
                            {{ c.emailCloudCompte }}
                        </p>
                        <p>
								<span style="text-decoration: underline;">
									<strong>Adresse:</strong><br>
									{{ c.adresseCloudCompte }}
								</span>
                        </p>
                    </td>
                    <td class="text-center">
                        {% if c.actif==true %}
                            <i id="etatActif" class="far fa-check-circle" style="font-size:20px;color:green"
                               title="Sous-compte actif"></i>
                        {% else %}
                            {# <i id="etatInactif" class="btn-success fas fa-check-circle" style="width: 50%"></i> #}
                            <i id="etatInactif" class="far fa-times-circle" style="font-size:20px;color:red"
                               title="Sous-compte inactif"></i>
                        {% endif %}
                    </td>
                    <td class="text-center">
                        <a href="{{ path('sous_compte_edit', {'id': c.id}) }}">
                            <i id="btnEdit" title="Modifier" class="far fa-edit" style="font-size:16px;"></i>
                        </a>
                        <a href="{{ path('sous_compte_new_by_sous_compte', {'id': c.id}) }}">
                            <i id="btnAdd" title="Ajouter un sous-compte" class="far fa-plus-square"
                               style="font-size:17px;color:green"></i>
                        </a>
                        <br>
                        <i class="fas fa-list-alt"></i>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
