{% extends 'base.html.twig' %}
{% block  breadcrumb %}
    <li class="breadcrumb-item"><a href="{{ path('utilisateur') }}"> Liste des utilisateurs</a></li>
    <li class="breadcrumb-item active"> Nouvel utilisateur</li>
{% endblock %}
{% block body_inside %}
    <div class="container">
        {% include 'account/accountUserPills.html.twig' %}<br>
        <h3>Enregistrement d'un nouvel utilisateur</h3>
        <hr style="margin-top: auto; color: black">
        {{ form_start(form) }}
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">{{ form_row(form.username, {'attr': {'class': 'form-control form-control-sm'}}) }}</div>
                <div class="form-group">{{ form_row(form.emailCompte, {'attr': {'class': 'form-control form-control-sm'}}) }}</div>
                <div class="form-group">{{ form_row(form.password, {'attr': {'class': 'form-control form-control-sm'}}) }}</div>
                <div class="form-group">{{ form_row(form.passwordConfirm, {'attr': {'class': 'form-control form-control-sm'}}) }}</div>
                <div class="form-group"></div>
            </div>
            <div class="col-md-6">
                <div class="form-group">{{ form_row(form.telephone1Utilisateur, {'attr': {'class': 'form-control form-control-sm'}}) }}</div>
                <div class="form-group">{{ form_row(form.telephone2Utilisateur, {'attr': {'class': 'form-control form-control-sm'}}) }}</div>
                <div class="form-group">{{ form_row(form.nomPhotoProfil, {'attr': {'class': 'form-control form-control-sm'}}) }}</div>
                <div class="form-group">{{ form_row(form.adresseUtilisateur, {'attr': {'class': 'form-control form-control-sm'}}) }}</div>
                <br>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <button type="submit" class="btn btn-success btn-sm">Enregistrer</button>
                                <a href="{{ path('utilisateur') }}" class="">
                                    <button type="reset" href="{{ path('utilisateur') }}"
                                            class="btn btn-secondary btn-sm float-right">Annuler
                                    </button>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6"></div>
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
    </div>
{% endblock %}