{% extends 'base.html.twig' %}

{#{% block stylesheets %}#}
{#    <link rel="stylesheet" href="{{ asset('admin-lte/plugins/bootstrap/css/bootstrap.min.css') }}">#}
{#    <link rel="stylesheet" href="{{ asset('customs/css/style.css') }}">#}
{#    <link rel="stylesheet" href="{{ asset('customs/css/jquery-ui.css') }}">#}
{#{% endblock %}#}

{% block title %}
    pro6- GRH / Catégorie service
{% endblock %}
{% block  breadcrumb %}
    <li class="breadcrumb-item active"> Catégorie service</li>
{% endblock %}
{% block body_inside %}
    <div class="container">
        {% include 'cloud_compte/pills/paramComptePills.html.twig' %}<br/>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-success">
                    <div class="card-header">
                        Nouveau
                    </div>
                    <div class="card-body">
                        {{ form_start(form) }}
                        {{ form_row(form.libelle, {'attr': {'class': 'form-control form-control-sm'}}) }}
                        {{ form_row(form.description, {'attr': {'class': 'form-control form-control-sm'}}) }}
                        <button type="submit" class="btn btn-success btn-sm float-right">Enregistrer
                        </button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card card-secondary">
                    <div class="card-header">
                        Les différentes catégories de service
                    </div>
                    <div class="card-body">
                        {% if listCloudCategorieService %}
                            <table class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th style="width: 3%">N°</th>
                                    <th style="width: 40%">Libellé</th>
                                    <th style="width: 30%">Description</th>
                                    <th style="width: 7%">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for cs in listCloudCategorieService %}
                                    <tr>
                                        <td>{{ num }}</td>
                                        <td>{{ cs.libelle }}</td>
                                        <td>{{ cs.description }}</td>
                                        <td>
                                            <a href="#editCloudCategorieServiceModal" data-target="{{ path('categorie_service_edit_modal', {'id': cs.id}) }}" class="tooltipped modal-trigger">
                                                <i id="btnEditModal" class="btn-default fa fa-edit" data-toggle="modal" data-target="#editCloudCategorieServiceModal"></i>
                                            </a>
                                            &#160;&#160;
                                            <i id="btnEditModal" class="btn-default fa fa-edit" data-toggle="modal" data-target="#editCloudCategorieServiceModal"></i>
                                            &#160;&#160;
                                            <i class="fas fa-list-alt"></i>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <br><br><br><br>
{#        <a href="/modal" data-sideclick-modal-trigger>Login</a>#}
        <br><br><br><br>

{#        <a class="btn btn-outline-primary" href="#" data-toggle="modal" data-target="#editCloudCategorieServiceModal">Inscription</a>#}
        {% include 'cloud_compte/params/modals/modalEditCloudCategorieService.html.twig' %}
    </div>
    <!-- The Modal -->

{% endblock %}
{#{% block javascripts %}#}
{#    <script>#}
{#        $(document).ready(function () {#}
{#//On écoute le "click" sur le bouton ayant la classe "modal-trigger"#}
{#            $('.modal-trigger').click(function () {#}
{#//On initialise les modales materialize#}
{#                $('.modal').modal();#}
{#                //On récupère l'url depuis la propriété "Data-target" de la balise html a#}
{#                url = $(this).attr('data-target');#}
{#                //on fait un appel ajax vers l'action symfony qui nous renvoie la vue#}
{#                $.get(url, function (data) {#}
{#                    //on injecte le html dans la modale#}
{#                    $('.modal-content').html(data);#}
{#                    //on ouvre la modale#}
{#                    $('#editCloudCategorieServiceModal').modal('open');#}
{#                });#}
{#            })#}
{#        });#}

{#    </script>#}
{#{% endblock %}#}
