{% extends 'base.html.twig' %}
{% block title %}
	pro6- GRH / Type service
{% endblock %}
{% block  breadcrumb %}
	<li class="breadcrumb-item active"> Type service</li>
{% endblock %}

{% block body_inside %}
	{% include 'cloud_compte/params/paramComptePills.html.twig' %}
	<br/>
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="card card-success">
					<div class="card-header">
						Nouveau
					</div>
					<div class="card-body">
						{{ form_start(form) }}

						{{ form_widget(form) }}
						<button type="submit" class="btn btn-success float-right">Enregistrer</button>
						{{ form_end(form) }}
					</div>
				</div>
			</div>
			<div class="col-md-8">
				<div class="card card-secondary">
					<div class="card-header">
						Les différents types de service
					</div>
					<div class="card-body">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th style="width: 3%">N°</th>
									<th style="width: 40%">Libellé</th>
									<th style="width: 30%">Description</th>
									<th style="width: 7%">Action</th>
								</tr>
							</thead>
							<tbody>
								{% for tc in listCloudTypeService %}
									<tr>
										<td>1</td>
										<td>{{ tc.libelle }}</td>
										<td>{{ tc.description }}</td>
										<td>
											<i data-toggle="modal" data-target="#typeServiceEditModal" href="#" class="btn-default fa fa-edit"></i>
											&#160;&#160;
											<i class="fas fa-list-alt"></i>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="modal fade" id="typeServiceEditModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true" onclick="supprimerForms()">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel"></h4>
				</div>

				<div class="modal-body">
					<div class="container">

						{% form_theme form 'bootstrap_3_layout.html.twig' %}

						<div class="col-xs-12 text-center">
							{{ form_start(form) }}
							<div class="form-group">
								{{ form_errors(form.libelle) }}
								{{ form_label(form.libelle) }}
								{{ form_widget(form.libelle, {'attr': {'class': 'form-control'}}) }}

								{{ form_errors(form.description) }}
								{{ form_label(form.description) }}
								{{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
							</div>
							<br/>
							<button type="submit" class="btn btn-flat btn-warning">
								Enregistrer
							</button>
							{{ form_end(form) }}
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
{% endblock %}
