{% extends 'base.html.twig' %}
{% block title %}
    pro6- GRH / Catégorie service
{% endblock %}
{% block  breadcrumb %}
    <li class="breadcrumb-item active">
        Catégorie service
    </li>
{% endblock %}

{% block body_inside %}
    {% include 'cloud_compte/pills/paramComptePills.html.twig' %}
    <br/>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card card-success">
                    <div class="card-header">
                        Nouveau
                    </div>
                    <div class="card-body">
                        {{ form_start(form) }}

                        {{ form_widget(form) }}
                        <button type="submit" class="btn btn-success swalDefaultSuccess float-right">Enregistrer
                        </button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card card-secondary">
                    <div class="card-header">
                        Les différentes catégories de service
                    </div>
                    <div class="card-body">
                        {% if listCloudCategorieService %}
                            <table class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th style="width: 3%">N°</th>
                                    <th style="width: 40%">Libellé</th>
                                    <th style="width: 30%">Description</th>
                                    <th style="width: 7%">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for cs in listCloudCategorieService %}
                                    <tr>
                                        <td>{{ num }}</td>
                                        <td>{{ cs.libelle }}</td>
                                        <td>{{ cs.description }}</td>
                                        <td>
                                            {# <a class="waves-effect waves-light btn modal-trigger" href="#editCloudCategorieServiceModal"> #}
                                            <a href="#fenModal" class="js-modal">
                                                <i id="btnEditModal" class="btn-default fa fa-edit"></i>
                                            </a>

                                            {# </a> #}
                                            &#160;&#160;
                                            <i class="fas fa-list-alt"></i>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{#{% block javascripts %}#}
{#    <script src="{{ asset('customs/js/app.js') }}"></script>#}
{#{% endblock %}#}
