<div class="container">
	<ul class="nav nav-pills">
		<li class="active">
			<a href="{{ path('pays') }}">Pays</a>
		</li>
		<li class="active">
<a href="{{ path('states') }}">States & Régions</a>

		</li>
		<li class="active">
			<a href="{{ path('ville') }}">Ville</a>
		</li>
		<li class="active">
			<a href="{{ path('prefecture') }}">Préfecture</a>
		</li>
		<li class="active">
			<a href="{{ path('commune') }}">Commune</a>
		</li>
	</ul>
</div>
