<div class="pill-nav">
    <a class="nav-link active" href="{{ path('pays') }}">Pays</a>
    <a class="nav-link active" href="{{ path('states') }}">States & Régions</a>
    <a class="nav-link active" href="{{ path('ville') }}">Ville</a>
    <a class="nav-link active" href="{{ path('prefecture') }}">Préfecture</a>
    <a class="nav-link active" href="{{ path('commune') }}">Commune</a>
</div>
